<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Eddit a existing user</h1>
    <p>First Name:</p>
    <form action="update" method ="POST">
            
        <input type="text" name = "first_name"><br>
    <p>Last Name:</p>
        <input type="text" name = "last_name"><br>
    <p>Email:</p>
        <input type="text" name = "email"><br>
    <input type="submit" name="buttie" value="Update">
    </form>
    <p> <a href="{{users.id}}">Show</a> | <a href="{{users.id}}">Go Back</a></p>
    
    
</body>
</html>