<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>User {{ q.id }}</h1>
    <p>Full Name: {{ q.first_name }}  {{ q.last_name }}</p>
    <p>Email: {{ q.email }}</p>
    <p>Created at: {{ q.created_at }}</p>


    <p><a href="{{q.id}}/edit">Edit</a> | <a href="{{q.id}}/destroy">Delete</a></p>
</body>
</html>